@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
CSS style over alle pagina's
 */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #829ae8, #e2ccf8);
    color: black;
    padding: 10px 0;
}

header img.logo {
    max-width: 50px;
    border-radius: 50%;
    margin-left: 15px;
}

#index-text {
    margin-left: 20px;
    font-size: 32px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 20px;
    transition: color 0.6s ease, border-bottom 0.6s ease;
    position: relative;
}

nav ul li a:hover {
    color: #545252;
    border-bottom: 1px solid #545252;
}

main {
    margin: 20px auto;
    padding: 20px;
    max-width: 60%;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #829ae8, #e2ccf8);
    color: black;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin: 0 10px;
}

/*
CSS van de containers voor Login, Register en Contact
 */

/* Responsive Styling voor kleinere schermen */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .container section {
        margin-bottom: 20px;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 500px;
    margin: 50px auto;
}

.container section {
    flex: 1;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 10px;
    background-color: white;
}

/* Formuliervelden Styling */
.container input[type="email"],
.container input[type="password"],
.container input[type="text"],
.container textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
}

/*
CSS Styling die gelden voor de portfolio pagina
 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 600px;
    max-width: 90%;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-content h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

#add-project-modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#add-project-modal-content form label {
    font-weight: bold;
}

#add-project-modal-content form input .modal form textarea .modal form select {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#add-project-modal-content form textarea {
    resize: vertical;
    height: 100px;
}

#add-project-modal-content p, label{
    margin-bottom: 15px;
    line-height: 1.6;
}

.modal form #select-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 100px;
    border-radius: 10px;
    margin: 20px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal form button {
    padding: 10px 15px;
    align-self: center;
    width: 150px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close:hover {
    color: #880000;
}

.project-container {
    padding: 15px;
    margin-bottom: 20px;
}

.project-image {
    width: 50px;
    height: auto;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 10px;
}

.project-details {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    border: black solid 2px;
    border-radius: 10px;
    width: 500px;
    background-color: #f6f8ff;
}

.project-details h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details p {
    margin: 0;
    color: #666;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.view-details {
    margin-top: 10px;
}

/*
CSS styling voor de about me pagina
 */
.about-content-container {
    display: flex;
    padding: 10px;
}

#head-text {
    font-size: 24px;
}

#profile-picture {
    width : 400px;
    border-radius: 15px;
}

/*
Algemene CSS styling
 */
section ul {
    list-style: none;
    padding: 0;
}

.intro, .skills, .call-to-action-contact, .call-to-action-create {
    margin-bottom: 20px;
    min-height: 150px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #324ca8;
    color: white;
    text-decoration: none;
    border: black;
    border-radius: 5px;
    transition: background 0.6s ease, transform 0.6s ease;
}

.btn:hover {
    background: #02035c;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

/*
CSS voor de alert() function in helper.php
 */
.form-message {
    margin: 20px auto 0 auto;
    border-radius: 10px;
    text-transform: capitalize;
    max-width: 500px;
    width: 90%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-message p {
    text-align: center;
    font-size: 1.6rem;
}

.form-message-red {
    background-color: #ffb3b3;
    border: 2px solid #ff0000;
}

