@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #829ae8, #a1accf);
    color: black;
    padding: 10px 0;
}

header img.logo {
    max-width: 50px;
    border-radius: 50%;
    margin-left: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 20px;
    transition: color 0.6s ease, border-bottom 0.6s ease;
    position: relative;
}

nav ul li a:hover {
    color: #545252;
    border-bottom: 1px solid #545252;
}

main {
    margin: 20px auto;
    padding: 20px;
    max-width: 60%;
    text-align: center;
}

section ul {
    list-style: none;
}

.intro, .skills, .call-to-action-contact, .call-to-action-create {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #324ca8;
    color: white;
    text-decoration: none;
    border: black;
    border-radius: 5px;
    transition: background 0.6s ease, transform 0.6s ease;
}

.btn:hover {
    background: #02035c;
    color: white;
    transform: scale(1.05);
}

footer {
    display: flex;
    justify-content: center;
    background: lightgrey;
    color: black;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin: 0 10px;
}

